body
{
background-image:url(X3.jpg);
background-repeat:no-repeat;
background-size:cover;
}

#p
{

font-size:25px;
color:nevy blue;
background-color:#FW5678;
font-family:georgia;
}

#b
{

font-size:25px;
color:nevi blue;
background-color:#BU3412;
font-family:georgia;
}

#c
{
font-size:25px;
color:nevi blue;
background-color:#FW5678;
font-family:georgia;
}

#d
{
font-size:25px;
color:nevi blue;
background-color:#FW5678;
font-family:georgia;
}

#e
{
font-size:25px;
color:nevi blue;
background-color:#FW5678;
font-family:georgia;
}

#f
{
font-size:25px;
color:nevi blue;
background-color:#FW5678;
font-family:georgia;
}

#g
{
font-size:25px;
color:nevi blue;
background-color:#FW5678;
font-family:georgia;
}

#h
{
font-size:25px;
color:nevi blue;
background-color:#FW5678;
font-family:georgia;
}


#j
{
font-size:25px;
color:nevi blue;
background-color:#FW5678;
font-family:georgia;
}

#k
{
font-size:25px;
color:nevi blue;
background-color:#FW5678;
font-family:georgia;
}

#three
{border-radius:20px;
	height: 40px;
	width: 200px;
	font-size: 30px;
}
#t
{
	height: 25px;
	width: 20px;
	font-size: 30px;
}
#one
{
bgcolor:rbga(15,16,26,0.18);
}