body
{
background-image:url
background-repeat:no-repeat;
background-size:cover;
}

#o
{
font-size:30px;
color:dark black;
background-color:#FWJJ78;
font-family:georgia;
}
#p
{
font-size:20px;
color: black;
background-color:#FWJJ78;
font-family:georgia;
}
#q
{
font-size:25px;
color:black;
background-color:#FW5678;
font-family:georgia;
}

#b
{
font-size:20px;
color:brown;
background-color:#BU3412;
font-family:georgia;

}

#c
{
font-size:20px;
color:brown;
background-color:#FW5678;
font-family:georgia;
}

#d
{
font-size:20px;
color:brown;
background-color:#FW5678;
font-family:georgia;
}

#e
{
height:10px;
width: 50px;
font-size:20px;
color:black;
background-color:#FW5678;
font-family:georgia;
}

#f
{
font-size:20px;
color:black;
background-color:#FW5678;
font-family:georgia;
}
#one
{border-radius:20px;
	height:25px;
	width:75px;
	font-size: 25pt;
}
#two
{border-radius:20px;
	height:35px;
	width: 320px;
	font-size: 25px;
}
#three
{border-radius:20px;
	height: 30px;
	width: 100px;
	font-size: 20px;
}
#four
{
	font-size: 30px;
}
#t
{
	height: px;
	width: 20px;
	font-size: 30px;
}

